:root{
    --base: rgb(25, 23, 36);
    --surface: rgb(31, 29, 46);
    --overlay: rgb(38, 35, 58);
    --muted: rgb(110, 106, 134);
    --subtle: rgb(144, 140, 170);
    --text: rgb(224, 222, 244);
    --love: rgb(235, 111, 146);
    --gold: rgb(246, 193, 119);
    --rose: rgb(235, 188, 186);
    --pine: rgb(49, 116, 143);
    --foam: rgb(156, 207, 216);
    --iris: rgb(196, 167, 231);
    --highlight-low: rgb(33, 32, 46);
    --highlight-med: rgb(64, 61, 82);
    --highlight-high: rgb(82, 79, 103);
    --deep-purple:rgb(96, 47, 107);
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--overlay);
    box-shadow: 0 5px 5px -5px var(--iris);
    justify-content: space-evenly;

}

nav h1 {    
    display: flex;
    margin: 0 10px;
    padding: 10px;
    text-decoration: underline;
    color: var(--iris);
    padding-right: 300px;
    margin-left: -50px;
}
nav a {
    display: flex;
    text-decoration: underline;
    color: var(--iris);
}

nav a:hover {
    color: var(--text);
}

header {
    background-color: var(--overlay);
    color: var(--iris);
    padding: 10px;
}

.main{
    background-color: var(--overlay);
}

.container {
    color: var(--iris);
}

footer {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 2.5rem;
    text-align: center;
    background-color: var(--surface);
    color: var(--iris);
}