:root{
    --base: rgb(25, 23, 36);
    --surface: rgb(31, 29, 46);
    --overlay: rgb(38, 35, 58);
    --muted: rgb(110, 106, 134);
    --subtle: rgb(144, 140, 170);
    --text: rgb(224, 222, 244);
    --love: rgb(235, 111, 146);
    --gold: rgb(246, 193, 119);
    --rose: rgb(235, 188, 186);
    --pine: rgb(49, 116, 143);
    --foam: rgb(156, 207, 216);
    --iris: rgb(196, 167, 231);
    --highlight-low: rgb(33, 32, 46);
    --highlight-med: rgb(64, 61, 82);
    --highlight-high: rgb(82, 79, 103);
    --deep-purple:rgb(175, 75, 179);
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--overlay);
    box-shadow: 0 5px 5px -5px var(--iris);
    justify-content: space-evenly;

}

nav h1 {    
    display: flex;
    margin: 0 10px;
    padding: 10px;
    text-decoration: underline;
    color: var(--iris);
    padding-right: 300px;
    margin-left: -50px;
}

nav h1:hover{
    color: var(--foam);
}
nav a {
    display: flex;
    text-decoration: underline;
    color: var(--iris);
}

nav a:hover {
    color: var(--foam);
}

header {
    background-color: var(--overlay);
    color: var(--love);
    padding: 10px;
}
.parent-container{
    color: var(--iris);
}
.container{
    color: var(--iris);
}

.main{
    background-color: var(--overlay);
}

.container {
    color: var(--iris);
}

footer {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 2.5rem;
    text-align: center;
    background-color: var(--surface);
    color: var(--iris);
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}



/* Updated style for the search buttonStyled */
#buttonStyled {
    width: 80%; /* Adjust width as needed */
    max-width: 200px; /* Limit maximum width */
    background-color: var(--pine);
    color: var(--text);
    padding: 10px 15px; /* Adjust padding for size */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-out;
    position: relative;
    overflow: hidden;
    font-size: 14px; /* Adjust font size */
}

#buttonStyled:hover {
    background-color: var(--foam);
    /* Darker shade on hover */
}

#buttonStyled::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: var(--text);
    transition: all 0.6s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0;
}

#buttonStyled:hover::before {
    width: 0;
    height: 0;
    opacity: 0.8;
}

#buttonStyled span {
    z-index: 1;
    position: relative;
}

/* Click animation effect */
#buttonStyled:active::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: none;
}

