/* color palette (source: Rosé Pine) */
:root {
    --base: rgb(25, 23, 36);
    --surface: rgb(31, 29, 46);
    --overlay: rgb(38, 35, 58);
    --muted: rgb(110, 106, 134);
    --subtle: rgb(144, 140, 170);
    --text: rgb(224, 222, 244);
    --love: rgb(235, 111, 146);
    --gold: rgb(246, 193, 119);
    --rose: rgb(235, 188, 186);
    --pine: rgb(49, 116, 143);
    --foam: rgb(156, 207, 216);
    --iris: rgb(196, 167, 231);
    --highlight-low: rgb(33, 32, 46);
    --highlight-med: rgb(64, 61, 82);
    --highlight-high: rgb(82, 79, 103);
    --deep-purple: rgb(175, 75, 179);
}

html {
    font-size: 62.5%;
}

/* 
===============
GENERAL STYLING
===============
*/

body {
    font-family: 'Montserrat', sans-serif;    
    font-size: 1.75rem;
    font-weight: 300;
    height: 100vh;
    line-height: 1.5;
    color: #ededee;
    /* background-color: #04040e; */
    background-image: linear-gradient(
        #1c202f 0%,
        #000000 100%
    );
}

h1, 
h2, 
h3, 
p, 
a {
  margin-bottom: 0.625rem;
  color: #ededee;
  font-weight: 300;
  line-height: 1.1;
  text-decoration: none;
}

h1 {
    font-size: 3.25rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    font-weight: 400;

}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

a {
    font-size: 1.5rem;
    font-weight: 200;
}

/* 
============
HEADER ITEMS
============
*/

.header-container {
    /* background-color: #72727c; */
    font-family: 'Raleway', sans-serif;    
    background-image: linear-gradient(
        #202124 0%,
        #1c202f 100%
    );
    color: #ededee;
    margin: auto auto;
    width: 100%;
}

.header-grid {
    display: grid;
    grid-template-columns: 4fr repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px 40px 10px;
}

.hg-item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    place-self: center start;
}

.hg-item1, h1 {
    color: #72727c;
    font-size: 4rem;
}

.hg-item2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    place-self: center center;
}

.hg-item3 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    place-self: center center;
}

.hg-item4 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
    place-self: center center;
}

.hg-item5 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    place-self: center end;
}

.hg-item3,
.hg-item4,
.hg-item5,
a {
    font-size: 2rem;
    font-weight: 400;
}

.hg-item6 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    place-self: start;
}
 
.hg-item6, h3 {
    font-size: 2rem;
    font-weight: 400;
}

.hg-item7 {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
    place-self: end;
}

/* hg-item7 - subgrid*/
.mode-grid {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: end;
}

.mode-item1 {
    place-self: end;
    grid-area: 1 / 2 / 1 / 3;
}

.mode-item1, div {
    font-size: 1.75rem;
    font-weight: 400;
}

.mode-item2 {
    place-self: end start;
    grid-area: 1 / -1 / 1 / -1;
}

/* hg-items1-3*/
.nav-link:hover { 
    text-decoration: underline;
    text-shadow: 0px 0px 8px #fff, 0 0 15px #fff;
}

/* hg-item5 */
.profile-icon svg:hover {
    filter: drop-shadow(0 0 8px #fff);
}

/* 
========================
SWITCH BUTTON

adapted from:
    UCSD Coding Bootcamp
    W3Schools
========================
*/

/* switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}

/* disable default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* toggle switch */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ededee; /* light mode toggled ON */
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #37838e; /* toggle switch button */
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle {
    background-color: #344674; /* dark mode toggled ON */
}

input:focus + .toggle {
    box-shadow: #04040e;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

/* style round toggle switch */
.toggle.round {
    border-radius: 26px;
}

.toggle.round:before {
    border-radius: 50%;
}

/* 
============
MAIN CONTENT
============
*/

/* content body container */
.body-container {
    display: flex;
    padding: 20px 40px 10px;
}

/* search field container */
.search-container {
    color: #ededee;
    background-color: #353935;
    border-radius: 4px;
    flex: 1;
}

.collection-button{
    text-align: center;
    margin-top: 10px;
}

.citySearch {
    width: 96%;
    font-size: 1.5rem;
    padding: 12px 12px;
    margin: 10px 10px 3px;
    display: inline-block;
    color: #ededee;
    background-color: rgba(1, 39, 73, 0.25);
    border: 1px solid rgba(5, 5, 15, 1);
    border-radius: 4px;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
}      

.searchButton {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: white;     
    font-size: 2.0rem; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 200;
    margin: 0px 10px 10px;
    padding: 15px 45px;
    text-align: center;
    width: 96%;

    background-image: linear-gradient(
        to right, #16222A 0%, 
        #3A6073  51%, 
        #16222A  100%
    );
    background-size: 200% auto;
    transition: 0.5s;
}

.searchButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.city-menu {
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px 10px 10px;
    padding: 15px 45px;
}

.city-menu li {
    padding: 12px 20px;
    text-decoration: none;
}

.city-menu li a {
    font-weight: 200;
}

.city-menu li:hover {
    background-color: #7fb2ca;
    width: 96%;
    border-radius: 4px;
}

/* result display container */
.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: var(--foam);
    flex: 1;
}

.saveButton {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: white;     
    font-size: 2.0rem; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 200;
    margin: 0px 10px 10px;
    padding: 30px 45px;
    text-align: center;
    width: 50%; 

    background-image: linear-gradient(
        to right, #16222A 0%, 
        #3A6073  51%, 
        #16222A  100%
    );
    background-size: 200% auto;
    transition: 0.5s;
    align-self: center;
}

.saveButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #28282B;
    clear: both;
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    text-align: center;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

/* responsive adjustments for medium devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    nav h1, nav a {
        margin: 10px 0;
    }
}

/* responsive adjustments for small devices */
@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    nav h1, nav a {
        margin: 10px 0;
    }
}


