:root {
    --base: rgb(25, 23, 36);
    --surface: rgb(31, 29, 46);
    --overlay: rgb(38, 35, 58);
    --muted: rgb(110, 106, 134);
    --subtle: rgb(144, 140, 170);
    --text: rgb(224, 222, 244);
    --love: rgb(235, 111, 146);
    --gold: rgb(246, 193, 119);
    --rose: rgb(235, 188, 186);
    --pine: rgb(49, 116, 143);
    --foam: rgb(156, 207, 216);
    --iris: rgb(196, 167, 231);
    --highlight-low: rgb(33, 32, 46);
    --highlight-med: rgb(64, 61, 82);
    --highlight-high: rgb(82, 79, 103);
    --deep-purple: rgb(175, 75, 179);
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--overlay);
    box-shadow: 0 5px 5px -5px var(--deep-purple);
    justify-content: space-evenly;
}

nav h1 {
    display: flex;
    margin: 0 10px;
    padding: 10px;
    text-decoration: underline;
    color: var(--deep-purple);
    padding-right: 300px;
    margin-left: -50px;
}

nav h1:hover {
    color: var(--foam);
}

nav a {
    display: flex;
    text-decoration: underline;
    color: var(--deep-purple);
}

nav a:hover {
    color: var(--foam);
}

header {
    background-color: var(--overlay);
    color: var(--love);
    padding: 10px;
}

main {
    background-color: var(--overlay);
    padding: 20px;
}

.container {
    color: var(--foam);
}

.search-container {
    color: var(--deep-purple);
    background-color: var(--overlay);
    flex: 1;
    /* Take up half the width of the parent container */
}

/* Parent container that holds both the left and right containers */
.parent-container {
    display: flex;
    /* Enable flexbox */
}

.time-container {
    color: var(--foam);
    flex: 1;
    /* Take up half the width of the parent container */
}

/* Style for the input field */
#cityInput {
    width: 100%;
    /* Full width */
    max-width: 65%;
    /* set max width so search bar is not too big */
    font-size: 16px;
    /* Increase font size */
    padding: 12px 20px;
    /* Add some padding */
    margin: 8px 0;
    /* Add some margin */
    display: inline-block;
    /* Display as inline-block */
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Box sizing to avoid padding issues */
    transition: width 0.4s ease-in-out;
    /* Add smooth transition for the width change */
}

#cityInput:focus {
    width: 300px;
    /* Adjust the width to expand on focus */
}

/* Updated style for the search button */
#searchButton {
    width: 80%; /* Adjust width as needed */
    max-width: 200px; /* Limit maximum width */
    background-color: var(--pine);
    color: var(--text);
    padding: 10px 15px; /* Adjust padding for size */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-out;
    position: relative;
    overflow: hidden;
    font-size: 14px; /* Adjust font size */
}

#searchButton:hover {
    background-color: var(--foam);
    /* Darker shade on hover */
}

#searchButton::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: var(--text);
    transition: all 0.6s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0;
}

#searchButton:hover::before {
    width: 0;
    height: 0;
    opacity: 0.8;
}

#searchButton span {
    z-index: 1;
    position: relative;
}

/* Click animation effect */
#searchButton:active::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: none;
}

#centerbutton {
    position: relative; 
    flex: flex;
    
}

/* Style the navigation menu */
.city-menu {
    max-width:65%;
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
}

/* Style the navigation links */
.city-menu li {
    padding: 8px;
    /* Padding for each list item */
    text-align: left;
    /* Align text to left */
    text-decoration: none;
    color: var(--deep-purple);
}

.city-menu li:hover {
    background-color: var(--iris);
}

footer {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 2.5rem;
    text-align: center;
    background-color: var(--surface);
    color: var(--iris);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav {
        flex-direction: column;
        align-items: stretch;
    }

    nav h1 {
        margin: 10px 0;
        padding-right: 0;
        margin-left: 0;
    }

    nav a {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: stretch;
    }

    nav h1 {
        margin: 10px 0;
        padding-right: 0;
        margin-left: 0;
    }

    nav a {
        margin: 10px 0;
    }
}

